node_modules/
components/
!dist
!build
.bundle

# Include bower components for deployment
# bower_components/
!bower_components/**/build

# General git ignores
.sass-cache
.tmp
.DS_Store
*.psd
*.[oa]
*.py[co]
*.rbc
*.egg
*.egg-info
develop-eggs
.installed.cfg
.Python
pip-log.txt
.coverage
.tox
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
