<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MinnPost Styles</title>
    <meta name="description" content="The MinnPost super-fly style guide, specifically focused on interactive and news applications made by the MinnData team.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base target=”_blank” />

    <link rel="stylesheet" href="//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="dist/minnpost-styles.min.css">
    <link rel="stylesheet" href="demo/demo.css">
  </head>
  <body class="mp">
    <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="minnpost-page-container">
      <div class="spacer"></div>

      <h1>MinnPost Styles</h1>

      <div class="section">
        <p class="xlarge">Welcome to MinnPost Styles, super-fly, style guide focused on interactive and news applications made by the <a href="http://code.minnpost.com/">MinnData team</a>.  <em>This is currently a work in progress.</em></p>
      </div>



      <div class="section">
        <h2>About</h2>

        <p>MinnPost Styles is a CSS and JS framework.  The CSS source is written in <a href="http://sass-lang.com/">SASS</a> and is extendable if you want to include the framework via SASS.</p>

        <p>Lots of inspiration and some code was taken from such amazing projects such as <a href="http://getbootstrap.com/">Bootstrap</a>, Mapbox.js, and more.  The source code can be found on <a href="https://github.com/MinnPost/minnpost-styles">Github</a>.

        <h3>Browser support</h3>

        <p>MinnPost Styles aims to support all modern browsers and Internet Explorer 8.  Currently, not all components fit this.</p>
      </div>



      <div class="section">
        <h2>Usage</h2>

        <p>It is suggest that you install MinnPost Styles with <a href="http://bower.io/">Bower</a>.  Otherwise, get the code from <a href="https://github.com/minnpost/minnpost-styles">Github</a>.</p>

        <div class="example-code">
          <pre><code>bower install minnpost-styles </code></pre>
        </div>

        <h3>CSS</h3>

        <p>Include the CSS as you would for any other library by putting the folling in the <code>head</code> section of your HTML document.</p>

        <div class="example-code">
          <pre><code>&lt;link rel="stylesheet" href="bower_components/minnpost-styles/dist/minnpost-styles.min.css"&gt; </code></pre>
        </div>

        <h4>Wrapper class</h4>

        <p>Since these styles were made for projects that will get embedded in existing sites, all styles are prefixed with the <code>mp</code> class.  This means you should wrap your markup like so:</p>

        <div class="example-code">
          <pre><code>&lt;div class="mp"&gt; ... &lt;/div&gt; </code></pre>
        </div>

        <p>Or, if you are not embedding, simply add the class to the body:</p>

        <div class="example-code">
          <pre><code>&lt;body class="mp"&gt; ... &lt;/body&gt; </code></pre>
        </div>

        <h3>Javascript</h3>

        <p>There are Javascript parts for common interactions and interactive parts.  See sections below that give examples of usage of the different components.  Include the relevant JS files by adding the following near the end of your HTML document:</p>

        <div class="example-code">
          <pre><code>&lt;script src="bower_components/minnpost-styles/dist/minnpost-styles.nav.min.js"&gt;&lt;/script&gt; </code></pre>
        </div>

        <h4>Dependencies</h4>

        <p>MinnPost Styles depends on <a href="http://underscorejs.org/">underscore</a> and <a href="http://jquery.com/">jQuery</a> globally, but depending on what part you want to use, you will need to include other dependencies.</p>

        <div class="table-responsive-small">
          <table class="striped">
            <thead>
              <tr>
                <th>Component</th><th>Dependencies</th>
              </tr>
            </thead>

            <tbody>
              <tr><td>Colors</td><td>(none)</td></tr>
              <tr><td>Datatables</td><td><a href="http://datatables.net/">Datatables</a></td></tr>
              <tr><td>Formatters</td><td>(none)</td></tr>
              <tr><td>Highcharts</td><td><a href="http://www.highcharts.com/">Highcharts</a></td></tr>
              <tr><td>Maps</td><td><a href="http://leafletjs.com/">Leaflet</a></td></tr>
              <tr><td>Nav</td><td>(none)</td></tr>
            </tbody>
          </table>
        </div>

        <h4>Use a module loader</h4>

        <p>The JS parts of MinnPost styles will all go into a global variable by default, for example <code>MP.nav</code>, but it is suggested to use a module loader like <a href="http://requirejs.org/">RequireJS</a> or <a href="http://browserify.org/">Browserify</a>.  The following is a sample usage with RequireJS:</p>

        <div class="example-code">
          <pre><code>
require.config({
  paths: {
    'underscore': 'bower_components/underscore/underscore-min',
    'jquery': 'bower_components/jquery/dist/jquery.min',
    'nav': 'bower_components/minnpost-styles/minnpost-styles.nav.min'
  }
});

require(['underscore', 'jquery', 'nav'], function(_, $, nav) {
  // Nav creates some jQuery plugins
  $(document).ready(function() {
    // Scoll spy it all
    $('body').mpScrollSpy();
  });
});
          </code></pre>
        </div>
      </div>



      <div class="section">
        <h2>Colors</h2>

        <script id="template-color-swatch" type="text/template">
          <div class="cf">
            <% _.each(colors, function(c, ci) { %>
              <div class="color-swatch bg-color-<%= (type) ? type + '-' : '' %><%= ci %>"><%= ci %> <br> <%= c %></div>
            <% }) %>
          </div>
        </script>

        <h3>Interface</h3>

        <p>These colors are used in the interface and already set to the appropriate components.  Though you should not need to often, you can use these as text or background colors with classes like <code>.color-{color-name}</code> or <code>.bg-color-{color-name}</code>.  After including the <code>minnpost-styles.colors.js</code>, the colors are available under <code>MP.colors.interface</code>.</p>

        <div class="interface-colors-placeholder"></div>

        <h3>Data</h3>

        <p>These colors are used for data visualizations.  These are colors to start from, and the set as whole should not necessarily be used to represent categories or groups in one dataset.</p>

        <div class="data-colors-placeholder"></div>

        <h4>Grouping data</h4>

        <p>When grouping data, there are few important things to consider.</p>

        <ul>
          <li><p><strong>The number of groups</strong>: This is dependent on the data and the story.  More groups mean more information for your reader to parse (both colors and data groups).  It is suggested to break things down to no more than 7 colors.</p></li>

          <li><p><strong>The set of colors</strong>: Choosing colors to represent the different groups is very difficult.  Make sure to read the <a href="http://colorbrewer2.org/learnmore/schemes_full.html">Colorbrewer's scheme documentation</a> and determine if you are representing sequential, diverging, or qualitative data.  From there it best to pick colors that are the most visually distinct; this is more easily achieved by using the the <a href="http://hclcolor.com/">HCL</a> or <a href="http://en.wikipedia.org/wiki/Lab_color_space">Lab</a>.  Try using tools like <a href="http://tools.medialab.sciences-po.fr/iwanthue/index.php">I want hue</a> or <a href="http://tristen.ca/hcl-picker/">this HCL picker</a>.</p></li>

          <li><p><strong>Colorblind consideration</strong>: When picking colors for data visualization, it is very important to ensure that the groups can be distinguished from each other for people with different color blindness.  Use tools like <a href="http://colororacle.org/">Color Oracle</a> to check this.</p></li>
        </ul>

        <p>You can use these as text or background colors with classes like <code>.color-data-{color-name}</code> or <code>.bg-color-data-{color-name}</code>.  After including the <code>minnpost-styles.colors.js</code>, the colors are available under <code>MP.colors.data</code>.</p>
      </div>



      <div class="section">
        <h2>Grid</h2>

        <p>A really, really basic, mobile-first, fluid grid is provided.  There are 5 provided groups of breakpoints, <code>all</code>, <code>small</code>, <code>medium</code>, <code>large</code>, <code>xlarge</code>, and widths are provided in 5% intervals as well as 33% and 66%.  This makes combinations such as <code>.column-small-50</code>, which means that any width greater than or equal to 420px will be 50% wide.</p>

        <div class="example example-grid">

          <div class="row">
            <div class="column-medium-25">
              <p>25% m+</p>
            </div>
            <div class="column-medium-25">
              <p>25% m+</p>
            </div>
            <div class="column-medium-50">
              <p>50% m+</p>
            </div>
          </div>

          <div class="row">
            <div class="column-small-33">
              <p>33% s+</p>
            </div>
            <div class="column-small-66">
              <p>66% s+</p>
            </div>
          </div>

          <div class="row">
            <div class="column-large-15">
              <p>15% l+</p>
            </div>
            <div class="column-large-10">
              <p>10% l+</p>
            </div>
            <div class="column-large-5">
              <p>5% l+</p>
            </div>
            <div class="column-large-20">
              <p>20% l+</p>
            </div>
            <div class="column-large-20">
              <p>20% l+</p>
            </div>
            <div class="column-large-30">
              <p>30% l+</p>
            </div>
          </div>

          <div class="row">
            <div class="column-small-33 column-medium-50">
              <p>33% s+ 50% m+</p>
            </div>
            <div class="column-small-66 column-medium-50">
              <p>66% s+ 50% m+</p>
            </div>
          </div>

        </div>
        <div class="example-code">
<pre><code>&lt;div class="row"&gt;
  &lt;div class="column-small-33 column-medium-50"&gt;
    &lt;p&gt;33% s+ 50% m+&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="column-small-66 column-medium-50"&gt;
    &lt;p&gt;66% s+ 50% m+&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt; </code></pre>
        </div>

        <h3>Breakpoints</h3>

        <p>Predefined breakpoints are silly.  Breakpoints should be defined when content or style no longer makes sense.  That said, MinnPost Styles provides some defaults that we use often on our projects.</p>

        <p>If you are using SASS, it is very simple to update the breakpoints and the size names.  Simply update the following variables.</p>


        <div class="example-code">
<pre><code>$responsive-points: 0px 420px 640px 960px 1200px;
$responsive-classes: all small medium large xlarge; </code></pre>
        </div>

        <p>Ensure that there are the same number of sizes as there are classes or problems will ensue.  Also note that <code>0px</code> has a special meaning in that it will not be wrapped in a media query and will apply to all browsers.  This means you could turn off the responsive bits by doing the following:</p>

        <div class="example-code">
<pre><code>$responsive-points: 0px;
$responsive-classes: all; </code></pre>
        </div>
      </div>



      <div class="section">
        <h2>Typography</h2>

        <h3>Headings</h3>

        <p>The following are the styling of the headings, h1, h2, etc.</p>

        <div class="example">
          <h1>h1 Example heading</h1>
          <p>Thinks heart prince cat birdwatching chase the red dot kitty honey shenanigans slept sleepy cat, kitten face little cat her life found fuzzy. Cat kitten sunbathe cat crosseyed cat little kitty photobomb looks curls, happy my she boy. Give me fish cats, cat terrified lived catnip comfortable.</p>

          <h2>h2 Example heading</h2>
          <p>Thinks heart prince cat birdwatching chase the red dot kitty honey shenanigans slept sleepy cat, kitten face little cat her life found fuzzy. Cat kitten sunbathe cat crosseyed cat little kitty photobomb looks curls, happy my she boy. Give me fish cats, cat terrified lived catnip comfortable.</p>

          <h3>h3 Example heading</h3>
          <p>Thinks heart prince cat birdwatching chase the red dot kitty honey shenanigans slept sleepy cat, kitten face little cat her life found fuzzy. Cat kitten sunbathe cat crosseyed cat little kitty photobomb looks curls, happy my she boy. Give me fish cats, cat terrified lived catnip comfortable.</p>

          <h4>h4 Example heading</h4>
          <p>Thinks heart prince cat birdwatching chase the red dot kitty honey shenanigans slept sleepy cat, kitten face little cat her life found fuzzy. Cat kitten sunbathe cat crosseyed cat little kitty photobomb looks curls, happy my she boy. Give me fish cats, cat terrified lived catnip comfortable.</p>

          <h5>h5 Example heading</h5>
          <p>Thinks heart prince cat birdwatching chase the red dot kitty honey shenanigans slept sleepy cat, kitten face little cat her life found fuzzy. Cat kitten sunbathe cat crosseyed cat little kitty photobomb looks curls, happy my she boy. Give me fish cats, cat terrified lived catnip comfortable.</p>

          <h6>h6 Example heading</h6>
          <p>Thinks heart prince cat birdwatching chase the red dot kitty honey shenanigans slept sleepy cat, kitten face little cat her life found fuzzy. Cat kitten sunbathe cat crosseyed cat little kitty photobomb looks curls, happy my she boy. Give me fish cats, cat terrified lived catnip comfortable.</p>

        </div>
        <div class="example-code">
<pre><code>&lt;h1&gt;h1 Example heading&lt;/h1&gt;
  ... </code></pre>
</div>

        <h3>Component labels</h3>

        <p>The following are styling for non-heading labels for components like charts or tables.<p>

        <div class="example">
          <div class="component-label">Component label</div>
        </div>
        <div class="example-code">
<pre><code>&lt;div class="component-label"&gt;Component label&lt;/div&gt; </code></pre>
        </div>

        <h3>Paragraph</h3>

        <div class="example">
          <p>Thinks heart prince cat birdwatching chase the red dot kitty honey shenanigans slept sleepy cat, kitten face little cat her life found fuzzy. Cat kitten sunbathe cat crosseyed cat little kitty photobomb looks curls, happy my she boy. Give me fish cats, cat terrified lived catnip comfortable nina fearless eat the grass friend his zzz home impressed kitten house loves sneak snuggliest mom cat happy! Waffles, her cat classy happy! Bed here years, whisker awesomeness kitties sucked oh shenanigans yoda friend backyard girlfriend kitty. Belly, knock over the lamp rescuing he persian impressed purses gf's.</p>
        </div>
        <div class="example-code">
          <pre><code>&lt;p&gt;Some text...&lt;/p&gt; </code></pre>
        </div>

        <h3>Text block</h3>

        <p>For optimal readablity, large blocks of text should not necessarily fill the whole container.  This is using <code>em</code>'s which means the container is based on the font size.</p>

        <div class="example">
          <div class="text-block">
            <p>Thinks heart prince cat birdwatching chase the red dot kitty honey shenanigans slept sleepy cat, kitten face little cat her life found fuzzy. Cat kitten sunbathe cat crosseyed cat little kitty photobomb looks curls, happy my she boy. Give me fish cats, cat terrified lived catnip comfortable nina fearless eat the grass friend his zzz home impressed kitten house loves sneak snuggliest mom cat happy! Waffles, her cat classy happy! Bed here years, whisker awesomeness kitties sucked oh shenanigans yoda friend backyard girlfriend kitty. Belly, knock over the lamp rescuing he persian impressed purses gf's.</p>
          </div>

          <div class="text-block large left text-justify">
            <p>Thinks heart prince cat birdwatching chase the red dot kitty honey shenanigans slept sleepy cat, kitten face little cat her life found fuzzy. Cat kitten sunbathe cat crosseyed cat little kitty photobomb looks curls, happy my she boy. Give me fish cats, cat terrified lived catnip comfortable nina fearless eat the grass friend his zzz home impressed kitten house loves sneak snuggliest mom cat happy! Waffles, her cat classy happy! Bed here years, whisker awesomeness kitties sucked oh shenanigans yoda friend backyard girlfriend kitty. Belly, knock over the lamp rescuing he persian impressed purses gf's.</p>
          </div>
        </div>
        <div class="example-code">
<pre><code>&lt;div class="text-block"&gt;
  &lt;p&gt; ... &lt;/p&gt;
&lt;/div&gt;

&lt;div class="text-block large left text-justify"&gt;
  &lt;p&gt; ... &lt;/p&gt;
&lt;/div&gt; </code></pre>
        </div>

        <h3>Links</h3>

        <p>Links are used for inline navigation.  For external links, it is often a good idea to use the <code>target="_blank"</code> attribute as it will open the link in a new tab.</p>

        <div class="example">
          <p>This is a <a href="#">link</a>.</p>
        </div>
        <div class="example-code">
          <pre><code>&lt;a href="#"&gt;link&lt;/a&gt; </code></pre>
        </div>

        <h3>Text modifiers</h3>

        <div class="example">
          <p>
            <small>This is small text.</small>
            <strong>This is bold text.</strong>
            <em>This is emphasizes text.</em>
          </p>

          <p>Some text
            <sup>Super script</sup>
            then some
            <sub>Sub script</sub>
          </p>
        </div>
        <div class="example-code">
<pre><code>&lt;small&gt;This is small text.&lt;/small&gt;
&lt;strong&gt;This is bold text.&lt;/strong&gt;
&lt;em&gt;This is emphasizes text.&lt;/em&gt;
&lt;sup&gt;Super-script text.&lt;/sup&gt;
&lt;sub&gt;Subscript text.&lt;/sub&gt; </code></pre>
        </div>

        <h3>Abbreviations</h3>

        <div class="example">
          <p>
            <abbr title="HyperText Markup Language">HTML</abbr> is an abbreviation of HyperText Markup Language.
          </p>
        </div>
        <div class="example-code">
          <pre><code>&lt;abbr title="HyperText Markup Language"&gt;HTML&lt;/abbr&gt; </code></pre>
        </div>

        <h3>Blockquotes</h3>

        <p>Use a <code>&lt;small&gt;</code> element for the attribution of the quote.</p>

        <div class="example">
          <blockquote>
            <p>Someone said something really awesome and important once.</p>
            <small>Someone famous</small>
          </blockquote>
        </div>
        <div class="example-code">
<pre><code>&lt;blockquote&gt;
  &lt;p&gt;Someone said something really awesome and important once.&lt;/p&gt;
  &lt;small&gt;Someone famous&lt;/small&gt;
&lt;/blockquote&gt; </code></pre>
        </div>

        <h3>Lists</h3>

        <div class="example">
          <ul>
            <li>unordered list example</li>
            <li>another thing</li>
            <li>nested items
              <ul>
                <li>nested item 1</li>
                <li>nested item 2</li>
              </ul>
            </li>
            <li>Another item</li>
          </ul>
        </div>
        <div class="example-code">
<pre><code>&lt;ul&gt;
  &lt;li&gt;Unordered list example&lt;/li&gt;
&lt;/ul&gt; </code></pre>
        </div>

        <div class="example">
          <ol>
            <li>ordered list example</li>
            <li>another thing</li>
            <li>nested items
              <ol>
                <li>nested item 1</li>
                <li>nested item 2</li>
              </ol>
            </li>
            <li>Another item</li>
          </ol>
        </div>
        <div class="example-code">
<pre><code>&lt;ol&gt;
  &lt;li&gt;Ordered list example&lt;/li&gt;
&lt;/ol&gt; </code></pre>
        </div>

        <h3>Code</h3>

        <div class="example">
          <p>
            Inline <code>code</code> example.
          </p>
        </div>
        <div class="example-code">
          <pre><code>&lt;code&gt;code&lt;/code&gt; </code></pre>
        </div>

        <div class="example">
          <pre><code>['Code block',
'example here.']; </code></pre>
        </div>
        <div class="example-code">
          <pre><code>&lt;pre&gt;&lt;code&gt;code&lt;/code&gt;&lt;/pre&gt; </code></pre>
        </div>

        <h3>Footnote</h3>

        <p>Footnotes are for footnotes, attribution, and other notes that are not needed to be specifically with its related content.</p>

        <div class="example">
          <div class="footnote">
            <p>This is a footnote example.</p>
          </div>
        </div>
        <div class="example-code">
<pre><code>&lt;div class="footnote"&gt;
  &lt;p&gt;This is a footnote example&lt;/p&gt;
&lt;/div&gt; </code></pre>
        </div>

        <h3>Credit</h3>

        <p>Credits are specifically for components like images, or charts, most likely within a full article context.</p>

        <div class="example">
          <p class="credit">This is a credit example.</p>
        </div>
        <div class="example-code">
<pre><code>&lt;p class="credit"&gt;This is a credit example&lt;/p&gt; </code></pre>
        </div>

        <h3>Caption</h3>

        <p>Captions are small, simple bits of information giving a specific component context, such as for an image or chart.</p>

        <div class="example">
          <p class="caption">This is a caption example.  Happy my she boy. Give me fish cats, cat terrified lived catnip comfortable nina fearless eat the grass friend his zzz home impressed kitten house loves sneak snuggliest mom cat happy! Waffles, her cat classy happy!</p>
        </div>
        <div class="example-code">
  <pre><code>&lt;p class="caption"&gt; This is a caption example &lt;/p&gt; </code></pre>
        </div>
      </div>




      <div class="section">
        <h2>Tables</h2>

        <p>Wrap tables in a <code>.table-responsive-*</code> class so that it will become scrollable on smaller devices.  Breakpoint suffixes from <code>$responsive-classes</code> SASS variable and determine the max-width to begin making the table responsive.</p>

        <p>Use a <code>striped</code> or <code>striped-even</code> class on the table to add stripes to every other row.</p>

        <div class="example">
          <div class="component-label">Table example</div>

          <div class="table-responsive-medium">
            <table>
              <thead>
                <tr>
                  <th>First column</th><th>second</th><th>third</th><th>fourth</th><th>fifth</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>data</td><td>2</td><td><p>longer paragraph text is over here</p></td><td>42,000,424,242.00</td><td>MORE!</td>
                </tr>
                <tr>
                  <td>somre more data here</td><td>42</td><td><p>longer paragraph text is over here</p></td><td>42,000,424,242.00</td><td>MORE!</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="example-code">
<pre><code>&lt;div class="table-responsive-medium"&gt;
  &lt;table&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;First column&lt;/th&gt;&lt;th&gt;second&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;

    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td&gt;data&lt;/td&gt;&lt;td&gt;2&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;somre more data here&lt;/td&gt;&lt;td&gt;42&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt; </code></pre>
        </div>
      </div>



      <div class="section">
        <h2>Forms</h2>

        <h3>Regular form</h3>

        <p>The following is a basic input form.</p>

        <div class="example">
          <form role="form">
            <div class="form-item">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" id="exampleInputEmail1" placeholder="Enter email">
            </div>

            <div class="form-item">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" id="exampleInputPassword1" placeholder="Password">
              <p class="form-help">Example block-level help text here.</p>
            </div>

            <div class="form-item">
              <label for="exampleInputFile">File input</label>
              <input type="file" id="exampleInputFile">
              <p class="form-help">Example block-level help text here.</p>
            </div>

            <div class="form-item">
              <label>Checkboxes</label>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="checkboxes" value="2"> Check, check
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="checkboxes" value="2"> Check me out
                </label>
              </div>
            </div>

            <div class="form-item">
              <label>Radios</label>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Option 1
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked> Option 2
                </label>
              </div>
            </div>

            <fieldset>
              <legend>Field group with legend</legend>

              <div class="form-item">
                <label for="example03">Lots of text</label>
                <textarea type="text" id="example03" placeholder="Enter something"></textarea>
              </div>
            </fieldset>

            <button type="submit" class="button">Submit</button>
          </form>

        </div>
        <div class="example-code">
<pre><code>&lt;form role="form"&gt;
  &lt;div class="form-item"&gt;
    &lt;label for="exampleInputEmail1"&gt;Email address&lt;/label&gt;
    &lt;input type="email" id="exampleInputEmail1" placeholder="Enter email"&gt;
  &lt;/div&gt;

  ...

  &lt;div class="checkbox"&gt;
    &lt;label&gt;
      &lt;input type="checkbox" name="checkboxes" value="2"&gt; Check, check
    &lt;/label&gt;
  &lt;/div&gt;

  &lt;button type="submit" class="button"&gt;Submit&lt;/button&gt;
&lt;/form&gt; </pre></code>
        </div>

        <h3>Inline form</h3>

        <p>The following is a basic inline form.</p>

        <div class="example">
          <form role="form" class="form-inline">
            <div class="form-item">
              <label for="example51" class="sr-only">Email address</label>
              <input type="email" id="example51" placeholder="Email">
            </div>

            <div class="form-item">
              <label for="example52" class="sr-only">Password</label>
              <input type="password" id="example52" placeholder="Password">
            </div>

            <button type="submit" class="button">Submit</button>
          </form>
        </div>
        <div class="example-code">
  <pre><code> </pre></code>
        </div>

        <h3>Input group</h3>

        <p>For single input forms, use an input group.</p>

        <div class="example">
          <form role="form">
            <div class="form-input-group">
              <label for="address" class="sr-only">Email address</label>
              <input type="text" id="address" placeholder="Search by address">

              <div class="button-group">
                <button type="submit" class="button">Search</button>
                <button type="submit" class="button"><i class="fa fa-compass"></i></button>
              </div>
            </div>
          </form>

          <form role="form" class="large">
            <div class="form-input-group">
              <label for="address2" class="sr-only">Email address</label>
              <input type="text" id="address2" placeholder="Search by address">

              <div class="button-group">
                <button type="submit" class="button">Search</button>
                <button type="submit" class="button"><i class="fa fa-compass"></i></button>
              </div>
            </div>
          </form>
        </div>
        <div class="example-code">
  <pre><code> </pre></code>
        </div>
      </div>



      <h2>Buttons</h2>

      <p>Different types of buttons.  The <code>&lt;button&gt;</code> is the preferred element.</p>

      <div class="example">
        <p>
          <button class="button">Button</button>
          <a href="#" class="button">Link</a>
          <span class="button">Span</span>
          <button class="button button-link">Link</button>
        </p>

        <p>
          <button class="button large">Large</button>
        </p>

        <p>
          <button class="button xlarge"><i class="fa fa-flash"></i> Flash xLarge</button>
        </p>

        <p>
          <button class="button small">Small</button>
        </p>

        <p>
          <button class="button disabled">Disabled</button>
        </p>
      </div>
      <div class="example-code">
<pre><code>&lt;button class="button"&gt;Button&lt;/button&gt;
&lt;a href="#" class="button"&gt;Link&lt;/a&gt;
&lt;span class="button"&gt;Span&lt;/span&gt;
&lt;button class="button button-link"&gt;Link&lt;/button&gt;
&lt;button class="button button-large"&gt;Large&lt;/button&gt;
&lt;button class="button button-small"&gt;Small&lt;/button&gt; </pre></code>
      </div>

      <h3>Button groups</h3>

      <p>Buttons next to each other.</p>

      <div class="example">
        <div class="button-group">
          <button class="button">Button</button>
          <button class="button">2</button>
          <button class="button">3</button>
        </div>
      </div>
      <div class="example-code">
<pre><code> </pre></code>
      </div>

      <h3>Button toolbar</h3>

      <p>Buttons groups next to each other.</p>

      <div class="example">
        <div class="button-toolbar">
          <div class="button-group">
            <button class="button">Button</button>
            <button class="button">2</button>
            <button class="button">3</button>
          </div>

          <div class="button-group">
            <button class="button">1</button>
            <button class="button">2</button>
          </div>
        </div>
      </div>
      <div class="example-code">
<pre><code> </pre></code>
      </div>



      <h2>Images</h2>

      <div class="example">
        <img data-src="holder.js/150x150" class="rounded">
        <img data-src="holder.js/150x150" class="circle">

        <img src="http://placekitten.com/150/150" class="rounded">
        <img src="http://placekitten.com/150/150" class="circle">
      </div>
      <div class="example-code">
<pre><code> </pre></code>
      </div>




      <h2>Thumbnails</h2>

      <div class="example">
        <a href="#" class="thumbnail thumbnail-inline">
          <img data-src="holder.js/100x100">
        </a>

        <a href="#" class="thumbnail thumbnail-inline">
          <img data-src="holder.js/100x100">
        </a>

        <div class="thumbnail">
          <img data-src="holder.js/100x100">

          <div class="caption">
            <p>This is a caption</p>
          </div>
        </div>
      </div>
      <div class="example-code">
<pre><code> </pre></code>
      </div>




      <h2>Icons</h2>

      <p>Icons provided by <a href="http://fontawesome.io/">Font Awesome</a>; see the site for the full list of icons.  Kept independent so that MinnPost Styles stays small if you don't need them.  Use the Bootstrap CDN to include the CSS</p>

      <pre><code>&lt;link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"&gt; </code></pre>

      <div class="example">
        <i class="fa fa-compass"></i>
        <i class="fa fa-compass fa-lg"></i>
        <i class="fa fa-compass fa-3x"></i>
        <i class="fa fa-compass fa-spin"></i>
        <i class="fa fa-compass fa-flip-horizontal"></i>
      </div>
      <div class="example-code">
<pre><code>&lt;i class="fa fa-compass"&gt;&lt;/i&gt;
&lt;i class="fa fa-compass fa-lg"&gt;&lt;/i&gt;
&lt;i class="fa fa-compass fa-3x"&gt;&lt;/i&gt;
&lt;i class="fa fa-compass fa-spin"&gt;&lt;/i&gt;
&lt;i class="fa fa-compass fa-flip-horizontal"&gt;&lt;/i&gt; </pre></code>
      </div>

      <h3>Loading</h3>

      <p>Loading can be handled by adding a <code>.loading</code> class to an element.</p>

      <div class="example">
        <div class="loading"></div>
      </div>
      <div class="example-code">
<pre><code>&lt;div class="loading"&gt;&lt;/div&gt; </pre></code>
      </div>

      <h3>Preferred icons</h3>

      <p></p>

      <div class="example">
        <ul>
          <li>Location: <i class="fa fa-location-arrow fa-lg"></i></li>
          <li>External link: <i class="fa fa-external-link fa-lg"></i></li>
          <li>Down expand: <i class="fa fa-angle-down fa-lg"></i></li>
          <li>Up minimize: <i class="fa fa-angle-up fa-lg"></i></li>
          <li>Forward: <i class="fa fa-long-arrow-right
 fa-lg"></i></li>
          <li>Back: <i class="fa fa-long-arrow-left
 fa-lg"></i></li>
          <li>Check: <i class="fa fa-check
 fa-lg"></i></li>
          <li>Alert: <i class="fa fa-bell
 fa-lg"></i></li>
        </ul>
      </div>
      <div class="example-code">
      </div>


      <h2>Labels</h2>

      <p>Labels are basic ways to make distinctions to key words.</p>

      <div class="example">
        <p>
          <span class="label">label</span>
        </p>

        <p>
          <span class="label large-2x">2x</span>
        </p>
      </div>
      <div class="example-code">
<pre><code>&lt;span class="label"&gt;label&lt;/span&gt; </pre></code>
      </div>



      <h2>Alerts</h2>

      <p>Messages to the users, specifically concerning actions they have taken.</p>

      <div class="example">
        <div class="alert">
          <strong>Warning!</strong> Best check yo self, you're not looking too good.
        </div>
      </div>
      <div class="example-code">
<pre><code> </pre></code>
      </div>




      <h2>Progress bars</h2>

      <p>Either for interactive loading or a simple data visualization.</p>

      <div class="example">

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            <span class="sr-only">60% Complete</span>
          </div>
        </div>

      </div>
      <div class="example-code">
<pre><code> </pre></code>
      </div>





      <h2>Helper classes</h2>

      <p>The following helper classes have a SASS @mixin counter part that you can use in your SASS files.</p>

      <ul>
        <li><code>.inline-block</code>: Cross-browser inline-block.</li>
        <li><code>.clearfix</code>: Cross-browser clearfix hack.  Also available is <code>.cf</code></li>
        <li><code>.tab-focus</code>: Provides a consistent WebKit-style focus.</li>
        <li><code>.center-block</code>: Makes a block that is center and should be given a width.</li>
        <li><code>.text-overflow</code>: Cuts content off and adds ellipses.  Requires inline-block or block for proper styling.</li>
        <li><code>.text-hide</code>: Hides text, but still read by screen reader.</li>
        <li><code>.screen-reader-only</code>: Screen reader only.</li>
        <li><code>.screen-reader-only</code>: Screen reader only.  Also available is <code>.sr-only</code></li>
        <li><code>.hidden</code>: Hidden from view and screen readers.  Also available is <code>.hide</code></li>
        <li><code>.print-visible</code>: Visible on print only.</li>
        <li><code>.print-hidden</code>: Not visible on print.</li>
      </ul>

      <p>The following are simply helpful classes (no SASS counter parts).</p>

      <ul>
        <li><code>.xsmall</code>, <code>.small</code>, <code>.large</code>, <code>.xlarge</code>, <code>.xxlarge</code>, <code>.xxlarge</code>: Ups the font size, and given that almost all measurements are in em's then it will also increase the overall spacing.</li>
        <li><code>.float-right</code>: Float right.</li>
        <li><code>.float-left</code>: Float left.</li>
        <li><code>.show</code>: Does a display block.</li>
        <li><code>.show-inline</code>: Does a display inline.</li>
      </ul>






      <h2>Navigation</h2>

      <h3>Sticky top navigation</h2>

      <div class="example">
        <div>
          <div class="navigation horizontal example-stick-top">
            <ul>
              <li><a href="#" class="active" data-spy-on="section01">Sec 1</a></li>
              <li><a href="#" data-spy-on="section02">Sec 2</a></li>
              <li><a href="#" data-spy-on="section03">Sec 3</a></li>
              <li><a href="#" data-spy-on="section04">Sec 4</a></li>
            </ul>
          </div>

          <h4 data-spy-me="section01">Section 01</h4>

          <p>Kitty ipsum dolor sit amet, consectetur purr pharetra iaculis tail flick tail flick, adipiscing tortor rutrum lick suscipit catnip. Iaculis I don't like that food tortor shed everywhere tristique, hairball I don't like that food fluffy fur dolor tempus puking nunc. Accumsan stretching libero neque chase the red dot, faucibus sniff stretching libero vulputate chase the red dot. Suspendisse stuck in a tree suspendisse shed everywhere tail flick suspendisse, sollicitudin etiam rip the couch shed everywhere eat the grass orci turpis. Vestibulum tempus accumsan claw rip the couch, egestas rutrum dolor nam scratched. Give me fish bat tortor tincidunt a meow suspendisse, claw justo kittens shed everywhere. Vehicula sagittis quis nunc vel sleep in the sink, eat the grass feed me feed me toss the mousie elit orci turpis.</p>

          <h4 data-spy-me="section02">Section 02</h4>

          <p>Vestibulum litter box climb the curtains attack, nam suscipit enim ut jump on the table amet libero sleep on your keyboard. Climb the curtains meow quis vehicula consectetur, accumsan knock over the lamp lick etiam jump tempus. Sleep on your keyboard shed everywhere neque lay down in your way run, feed me suspendisse libero quis nunc quis attack your ankles climb the curtains. Dolor attack aliquam attack, chase the red dot catnip cras nec sunbathe sleep in the sink chase the red dot et. Tempus nullam chase the red dot pharetra aliquam, eat catnip sleep on your face amet claw. Sollicitudin nullam hairball neque sleep in the sink, pellentesque orci turpis adipiscing vel hairball. Sniff tail flick et tempus, iaculis stuck in a tree knock over the lamp rip the couch stretching dolor attack.</p>

          <h4 data-spy-me="section03">Section 03</h4>

          <p>Cras nec pharetra purr enim ut justo run, hairball nam elit neque. Ac sleep in the sink I don't like that food iaculis, sniff egestas sleep on your face nam sagittis biting hairball. Lick biting run iaculis et, nunc tail flick etiam vulputate tincidunt a biting. Chase the red dot non toss the mousie orci turpis, claw amet leap neque adipiscing et. Judging you catnip scratched etiam tincidunt a, fluffy fur fluffy fur vel iaculis I don't like that food ac justo. Eat the grass biting vehicula enim nam nam, kittens attack your ankles sunbathe sagittis judging you libero. Mauris a rip the couch pharetra adipiscing shed everywhere pellentesque, chuf enim ut tincidunt a vehicula nullam give me fish.</p>

          <h4 data-spy-me="section04">Section 04</h4>

          <p>Cras nec pharetra purr enim ut justo run, hairball nam elit neque. Ac sleep in the sink I don't like that food iaculis, sniff egestas sleep on your face nam sagittis biting hairball. Lick biting run iaculis et, nunc tail flick etiam vulputate tincidunt a biting. Chase the red dot non toss the mousie orci turpis, claw amet leap neque adipiscing et. Judging you catnip scratched etiam tincidunt a, fluffy fur fluffy fur vel iaculis I don't like that food ac justo. Eat the grass biting vehicula enim nam nam, kittens attack your ankles sunbathe sagittis judging you libero. Mauris a rip the couch pharetra adipiscing shed everywhere pellentesque, chuf enim ut tincidunt a vehicula nullam give me fish.</p>

          <p>Vestibulum litter box climb the curtains attack, nam suscipit enim ut jump on the table amet libero sleep on your keyboard. Climb the curtains meow quis vehicula consectetur, accumsan knock over the lamp lick etiam jump tempus. Sleep on your keyboard shed everywhere neque lay down in your way run, feed me suspendisse libero quis nunc quis attack your ankles climb the curtains. Dolor attack aliquam attack, chase the red dot catnip cras nec sunbathe sleep in the sink chase the red dot et. Tempus nullam chase the red dot pharetra aliquam, eat catnip sleep on your face amet claw. Sollicitudin nullam hairball neque sleep in the sink, pellentesque orci turpis adipiscing vel hairball. Sniff tail flick et tempus, iaculis stuck in a tree knock over the lamp rip the couch stretching dolor attack.</p>
        </div>
      </div>
      <div class="example-code">
<pre><code> </pre></code>
      </div>

      <h3>Sticky vertical navigation</h3>

      <div class="example">
        <div class="row">
          <div class="column-medium-33">
            <div class="example-stick-container">
              <div class="navigation">
                <ul>
                  <li><a href="#" class="active" data-spy-on="section01b">Sec 1</a></li>
                  <li><a href="#" data-spy-on="section02b">Sec 2</a></li>
                  <li><a href="#" data-spy-on="section03b">Sec 3</a></li>
                  <li><a href="#" data-spy-on="section04b">Sec 4</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="column-medium-66">

            <h4 data-spy-me="section01b">Section 01</h4>

            <p>Kitty ipsum dolor sit amet, consectetur purr pharetra iaculis tail flick tail flick, adipiscing tortor rutrum lick suscipit catnip. Iaculis I don't like that food tortor shed everywhere tristique, hairball I don't like that food fluffy fur dolor tempus puking nunc. Accumsan stretching libero neque chase the red dot, faucibus sniff stretching libero vulputate chase the red dot. Suspendisse stuck in a tree suspendisse shed everywhere tail flick suspendisse, sollicitudin etiam rip the couch shed everywhere eat the grass orci turpis. Vestibulum tempus accumsan claw rip the couch, egestas rutrum dolor nam scratched. Give me fish bat tortor tincidunt a meow suspendisse, claw justo kittens shed everywhere. Vehicula sagittis quis nunc vel sleep in the sink, eat the grass feed me feed me toss the mousie elit orci turpis.</p>

            <p>Vestibulum litter box climb the curtains attack, nam suscipit enim ut jump on the table amet libero sleep on your keyboard. Climb the curtains meow quis vehicula consectetur, accumsan knock over the lamp lick etiam jump tempus. Sleep on your keyboard shed everywhere neque lay down in your way run, feed me suspendisse libero quis nunc quis attack your ankles climb the curtains. Dolor attack aliquam attack, chase the red dot catnip cras nec sunbathe sleep in the sink chase the red dot et. Tempus nullam chase the red dot pharetra aliquam, eat catnip sleep on your face amet claw. Sollicitudin nullam hairball neque sleep in the sink, pellentesque orci turpis adipiscing vel hairball. Sniff tail flick et tempus, iaculis stuck in a tree knock over the lamp rip the couch stretching dolor attack.</p>

            <p>Cras nec pharetra purr enim ut justo run, hairball nam elit neque. Ac sleep in the sink I don't like that food iaculis, sniff egestas sleep on your face nam sagittis biting hairball. Lick biting run iaculis et, nunc tail flick etiam vulputate tincidunt a biting. Chase the red dot non toss the mousie orci turpis, claw amet leap neque adipiscing et. Judging you catnip scratched etiam tincidunt a, fluffy fur fluffy fur vel iaculis I don't like that food ac justo. Eat the grass biting vehicula enim nam nam, kittens attack your ankles sunbathe sagittis judging you libero. Mauris a rip the couch pharetra adipiscing shed everywhere pellentesque, chuf enim ut tincidunt a vehicula nullam give me fish.</p>

            <h4 data-spy-me="section02b">Section 02</h4>

            <p>Nunc hairball hairball adipiscing ac, I don't like that food rhoncus quis nunc justo I don't like that food. Tail flick biting rip the couch jump on the table, sleep in the sink libero feed me eat the grass neque chase the red dot. Rhoncus rutrum climb the curtains faucibus sleep on your keyboard, scratched orci turpis hairball sollicitudin run run non. In viverra suspendisse rip the couch sagittis, claw tincidunt a vulputate chuf judging you climb the curtains. Tristique sleep in the sink quis hiss, catnip nibh tail flick sagittis leap nam scratched. Lick tincidunt a in viverra suscipit litter box, iaculis sagittis sleep on your keyboard egestas stretching. Chuf enim ut aliquam et nunc, vehicula jump on the table eat chuf scratched. Eat leap knock over the lamp iaculis stretching sleep on your keyboard, give me fish iaculis rhoncus suspendisse sollicitudin.</p>

            <p>Tristique rutrum scratched vehicula, shed everywhere nibh tincidunt a climb the curtains orci turpis amet rutrum. Faucibus shed everywhere enim quis sleep on your face, shed everywhere sagittis lay down in your way et nibh. Accumsan biting faucibus sagittis, justo sunbathe tortor sleep in the sink bibendum stretching. Sagittis sniff meow vel amet cras nec, sollicitudin enim sleep in the sink rip the couch rhoncus suspendisse. Pellentesque bibendum iaculis feed me I don't like that food biting, scratched enim ut lay down in your way iaculis etiam. Sniff pellentesque toss the mousie scratched iaculis quis, hairball rip the couch faucibus toss the mousie nibh eat the grass. Jump on the table toss the mousie judging you feed me, climb the curtains iaculis non cras nec catnip ac chase the red dot. Fluffy fur nullam hairball sniff feed me, sagittis iaculis tail flick quis nunc elit justo sniff.</p>

            <p>Zzz justo nullam jump bat adipiscing, rutrum tortor in viverra attack. Accumsan sunbathe judging you elit vehicula enim ut, eat the grass quis nunc fluffy fur sleep in the sink sagittis adipiscing. Sleep in the sink purr jump faucibus nam, et judging you shed everywhere consectetur tortor. Suscipit iaculis rutrum enim ut judging you chuf, climb the curtains I don't like that food judging you vel sleep in the sink enim ut. Non tortor sagittis rhoncus, litter box rhoncus tail flick elit nullam enim suspendisse jump on the table. Chuf attack your ankles sollicitudin sagittis, bat attack sagittis pharetra quis nunc adipiscing tristique attack. Lick fluffy fur nam nullam attack your ankles, vestibulum pharetra in viverra attack stuck in a tree. Chuf hairball dolor tristique, chuf rhoncus biting rip the couch tristique stuck in a tree.</p>

            <p>Eat the grass climb the curtains rhoncus nam, amet neque tincidunt a vehicula hairball stuck in a tree. Climb the curtains lick enim ut non quis, libero jump litter box feed me jump. Chase the red dot lick sollicitudin etiam, sleep on your keyboard jump rip the couch elit vel vel. Enim etiam rutrum neque, faucibus rhoncus sniff zzz vel egestas iaculis. Attack your ankles jump on the table sleep on your keyboard knock over the lamp pellentesque, mauris a mauris a lick tortor lick jump on the table purr. Iaculis nullam stuck in a tree dolor etiam biting, aliquam amet et nam enim libero. Rhoncus leap egestas kittens ac, kittens nibh vestibulum sunbathe egestas attack.</p>

            <h4 data-spy-me="section03b">Section 03</h4>

            <p>Lick ac attack your ankles jump on the table rutrum nunc, pharetra zzz quis vehicula fluffy fur sniff. Leap iaculis orci turpis nullam eat the grass rip the couch, nunc neque sagittis sleep in the sink. Tail flick consectetur iaculis tempus bibendum adipiscing, etiam faucibus lick biting I don't like that food. Tail flick lick claw zzz vehicula quis, sunbathe hiss tincidunt a eat faucibus zzz. Sleep in the sink sleep in the sink sollicitudin sleep in the sink non, sleep in the sink catnip judging you vel toss the mousie. Enim orci turpis sleep in the sink biting purr neque, pellentesque rip the couch biting orci turpis kittens tempus.</p>

            <p>Puking purr non rip the couch nibh, consectetur sniff suscipit chase the red dot enim ut jump. Feed me eat vehicula suspendisse nam attack your ankles, nibh attack your ankles faucibus dolor. Etiam elit suspendisse adipiscing chase the red dot tail flick, catnip elit stuck in a tree run quis nunc. Sagittis sniff sunbathe jump on the table, chuf climb the curtains ac run sniff sleep on your face iaculis. Lick enim ut tortor iaculis, nibh eat the grass puking egestas suspendisse pharetra neque nullam. Feed me jump on the table litter box puking, vel adipiscing chuf sleep on your keyboard libero sleep in the sink. Elit chuf attack scratched give me fish, tristique tristique neque hiss sniff. Judging you enim nam attack your ankles, suspendisse vestibulum sleep in the sink ac adipiscing jump biting.</p>

            <h4 data-spy-me="section04b">Section 04</h4>

            <p>Iaculis rhoncus puking nunc fluffy fur meow, stretching lick bat puking vestibulum vestibulum. Nunc suspendisse rip the couch bat judging you, feed me scratched climb the curtains eat sleep on your face. Libero vel vulputate aliquam, sniff bat hiss enim non suspendisse in viverra. Sagittis chase the red dot fluffy fur nullam egestas justo, suspendisse I don't like that food lick feed me give me fish etiam. Enim vestibulum jump leap orci turpis feed me, enim jump enim ut tristique puking. Attack your ankles enim ut chuf jump on the table lick tempus, eat tortor aliquam toss the mousie. Quis nunc iaculis enim ut vel, tincidunt a egestas feed me cras nec stretching faucibus.</p>
          </div>
        </div>
      </div>
      <div class="example-code">
<pre><code> </pre></code>
      </div>






      <h2>Highcharts</h2>

      <p>Default styling is provided for some basic types of Highchart charts.</p>

      <h3>Line chart</h3>

      <div class="example">
        <div class="chart chart-line-example"></div>
      </div>
      <div class="example-code">
<pre><code> </pre></code>
      </div>

      <h3>Column chart</h3>

      <div class="example">
        <div class="chart chart-column-example"></div>
      </div>
      <div class="example-code">
<pre><code> </pre></code>
      </div>

      <h3>Bar chart</h3>

      <div class="example">
        <div class="chart chart-bar-example"></div>
      </div>
      <div class="example-code">
<pre><code> </pre></code>
      </div>

      <h3>Scatterplot</h3>

      <div class="example">
        <div class="chart chart-scatter-example"></div>
      </div>
      <div class="example-code">
<pre><code> </pre></code>
      </div>






      <h2>Maps</h2>

      <p>Styling for maps provided through Leaflet or Mapbox.js.  Note that Mapbox.js is a superset of Leaflet.  We use the Mapbox.js styling because it is a nice style and provides consistency across maps that may or may not use the Mapbox.js styles.  Include the CSS before MinnPost styles.</p>

      <pre><code>&lt;link rel="stylesheet" href="//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.css"&gt; </code></pre>

      <h3>Javascript</h3>

      <p>Helpful methods and values are available in the <code>minnpost-styles.maps.js</code> file under the <code>MP.maps</code> property.</p>

      <h3>Attribution</h3>

      <p>With most map services like OpenStreetMap and Mapbox, their terms of use require attribution of some sort.  The requirement is usually to have a link on the page, not necessarily on the map.  By default, the attribution control is added to a leaflet map, so you must remove it.</p>

      <pre><code>// Remove attribute
map.removeControl(map.attributionControl);
// Handy attribution
MP.maps.mapboxAttribution;
MP.maps.openstreetmapAttribution; </code></pre>

      <div class="example">
        <div class="footnote">
          <p>Map attribution.  <span class="map-attribution"></span></p>
        </div>
      </div>
      <div class="example-code">
<pre><code> </pre></code>
      </div>

      <h3>Basic leaflet map</h3>

      <p>You can switch the different base maps that we have created through Mapbox.  If you are not making a MinnPost project, please use your own base layers as their use costs us money.</p>

      <div class="example">
        <div class="button-group map-baselayer-choices">
          <button class="button" data-map="mapboxSatelliteStreets">Satellite</button>
          <button class="button" data-map="mapboxStreetsDarkLabels">Streets (Dark)</button>
          <button class="button active" data-map="mapboxStreetsLightLabels">Streets (Light)</button>
          <button class="button" data-map="mapboxTerrainLight">Terrain (Light, No Labels)</button>
          <button class="button" data-map="mapboxTerrainDark">Terrain (Dark, No Labels)</button>
        </div>

        <div class="map" id="example-leaflet-map"></div>

        <div class="footnote">
          <p>Map attribution.  <span class="map-attribution"></span></p>
        </div>
      </div>
      <div class="example-code">
<pre><code> </pre></code>
      </div>

      <h3>Markers and features</h3>

      <p>The <a href="https://www.mapbox.com/maki/">Maki icon set</a> provided by Mapbox is a basic icon set focused on points of interests.  Mapbox provides a <a href="https://www.mapbox.com/developers/api/#Stand-alone.markers">static API for the icons</a> that can be used to make markers pretty easily.  There is a simple icon factory method in <code>MP.maps</code>.</p>

      <pre><code>var icon = MP.maps.makeMakiIcon('cinema', 'm', '232323'); </pre></code>

      <p>For non-marker feature, like polygons, there is a default style provided under <code>MP.maps.mapStyle</code>.  Also, for simple tooltip static hovers, there is a <code>MP.maps.TooltipControl</code> Leaflet control to easily manage tooltips.</p>

      <div class="example">
        <div class="map" id="example-markers-features-map"></div>

        <div class="footnote">
          <p>Map attribution.  <span class="map-attribution"></span></p>
        </div>
      </div>
      <div class="example-code">
<pre><code> </pre></code>
      </div>






      <h2>Datatables</h2>

      <p><a href="http://datatables.net/">Datatables</a> is a plugin that makes tables searchable, filterable, paged, and more.  It is useful for providing lots of tabular data.</p>

      <div class="example">
        <div class="datatable datatable-example">
          <table></table>
        </div>

        <div class="footnote">
          <p>Table data attribution.</p>
        </div>
      </div>
      <div class="example-code">
<pre><code> </pre></code>
      </div>





      <h2>MinnPost specific</h2>

      <p>There are just a few classes that are specific to MinnPost's workflow.</p>

      <ul>
        <li><code>.minnpost-page-container</code>: Mimics the page container on the MinnPost site.</li>
        <li><code>.minnpost-article-container</code>: Provides a container that is the same size as a normal article page (with a sidebar).</li>
        <li><code>.minnpost-full-container</code>: Provides a container that is the same size as a full page article (without a sidebar).</li>
      </ul>


    </div>




    <script src="bower_components/holderjs/holder.js"></script>
    <script data-main="demo/demo" src="bower_components/requirejs/require.js"></script>

  </body>
</html>
