/**
 * Really basic fluid grid system
 */

#{$selector-wrapper} {

  .row {
    @include clearfix();
    margin-left: $grid-gutter * -1;
    margin-right: $grid-gutter * -1;
    margin-bottom: $space-horizontal-margin;

    .column {
      position: relative;
      min-height: 1px;
      float: left;
      padding-left: $grid-gutter;
      padding-right: $grid-gutter;
    }

    // Make grids in 5 intervals
    @for $i from 1 through 20 {
      $width: ($i * 5);

      .column-#{($i * 5)} {
        @extend .column;
        width: $width * 1%;
      }
    }

    // Make 33 intervals
    @for $i from 1 through 2 {
      $width: ($i / 3 * 100);

      .column-#{floor($width)} {
        @extend .column;
        width: $width * 1%;
      }
    }
  }
}
