/**
 * Layout and spacing styles.
 */



// General spacing classes
.spacer {
  height: $space;
}

.top-spacer {
  margin-top: $space-vertical-margin;
}

.bottom-spacer {
  margin-bottom: $space-vertical-margin;
}
