/**
 * Layout and spacing styles.
 */

#{$selector-wrapper} {

  .full-page-container {
    max-width: $full-page-container-width;
    margin: 0 auto;
  }

  .sidebar-page-container {
    max-width: $sidebar-page-container-width;
    margin: 0 auto;
  }

  .interactive-container {
    max-width: 960px;
    margin: 0 auto;
  }

  .spacer {
    height: $space;
  }

  .top-spacer {
    margin-top: $space;
  }

  .bottom-spacer {
    margin-bottom: $space;
  }
}
