/**
 * Responsive styles for minnpost-styles.
 */


/**
 * Images are responsive by default
 */
img {
  max-width: 100%;
  height: auto;

  &.nonresponsive {
    max-width: auto;
  }
}

/**
 * Responsive tables wrapper.  Inspired by Bootstraps method.  Class
 * for each responsive break-point.
 */


@for $p from 1 to length($responsive-points) + 1 {
  $width: nth($responsive-points, $p);
  $class: nth($responsive-classes, $p);

  // Since this is a max-width approach a width of 0 is not
  // valuable to us.
  @if $width != 0 {
    @media (max-width: $width) {
      .table-responsive-#{$class} {
        @include responsive-table();
      }
    }
  }
}
