/**
 * Responsive styles for minnpost-styles.
 */

#{$selector-wrapper} {

  /**
   * Images are responsive by default
   */
  img {
    max-width: 100%;
    height: auto;

    .nonresponsive {
      max-width: auto;
    }
  }

  /**
   * Tables.  Inspired by Bootstraps method.
   */
  .table-responsive {

    @media (max-width: $full-page-container-width) {
      width: 100%;
      margin-bottom: $space;
      overflow-x: scroll;
      overflow-y: hidden;
      border: 1px solid $color-light-gray;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      -webkit-overflow-scrolling: touch;

      table {
        margin-bottom: 0;
      }
    }
  }
}
