/**
 * Styles for tables.
 */


table {
  width: 100%;
  margin-bottom: $space;
  text-align: left;
  line-height: $text-line-height;

  thead {

    th {
      font-weight: bold;
      vertical-align: bottom;
      border-bottom: 2px solid $color-lighter-gray;
      line-height: $text-line-height;
      padding: (0.5 * $space);
    }
  }

  tbody {

    td {
      font-weight: 300;
      vertical-align: middle;
      border-bottom: 1px solid $color-lighter-gray;
      padding: (0.5 * $space);
    }
  }

  // Stripes
  &.striped tbody tr:nth-child(odd) td,
  &.striped-even tbody tr:nth-child(even) td {
    background-color: $color-lightest-gray;
  }
}
