/**
 * Variables for minnpost-styles
 */

// Containers
$full-page-container-width: 960px;
$sidebar-page-container-width: 640px;

// Text
$text-line-height: 1.25em;
$text-size: 1em;
$text-size-small: 0.85em;

// Spacing
$space: 1em;
$space-heading-bottom: 0.85em;

$space-vertical-padding: 0.25em;
$space-horizontal-padding: 0.5em;

$space-vertical-margin: 0.5em;
$space-horizontal-margin: 1em;

// Radius
$radius: .25em;

// Fonts
$font-sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-serif: Georgia, "Times New Roman", Times, serif;
$font-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;

// Font sizes
$font-size-base: 14px;

// Basic colors
$color-text: #1A1818;
$color-white: #FFFFFF;
$color-black: #000000;

// Gray colors
$color-gray: #787878;
$color-dark-gray: darken($color-gray, 15%);
$color-darker-gray: darken($color-dark-gray, 15%);
$color-darkest-gray: darken($color-darker-gray, 20%);
$color-light-gray: lighten($color-gray, 15%);
$color-lighter-gray: lighten($color-light-gray, 15%);
$color-lightest-gray: lighten($color-lighter-gray, 20%);

// Primary colors
$color-minnpost-red: #801019;
$color-blue: #1D70A4;

// Links
$color-link: $color-minnpost-red;
