/**
 * Variables for minnpost-styles
 */

// Selectors
$selector-wrapper: ".mp" !default;

// Responsive
$responsive-points: 0px 420px 640px 960px 1200px !default;
$responsive-classes: all small medium large xlarge !default;

// Grid
$grid-gutter: 0.5em !default;

// Text
$text-line-height: 1.5em !default;
$text-size: 1em !default;
$text-size-small: 0.85em !default;
$text-size-large: 1.25em !default;

// Spacing
$space: 1em !default;
$space-vertical-padding: 0.25em !default;
$space-horizontal-padding: 0.5em !default;
$space-vertical-margin: 1em !default;
$space-horizontal-margin: 1em !default;

// Radius
$radius: 0.25em !default;

// Font sizes
$font-size-base: 16px !default;

// Default text font
// http://www.google.com/fonts#UsePlace:use/Collection:Open+Sans
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
$font-text: "Open Sans", sans-serif, Helvetica, Arial, "Lucida Grande", sans-serif !default;

// Heading font
// http://www.google.com/fonts#UsePlace:use/Collection:Montserrat
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
$font-heading: "Montserrat", sans-serif, Georgia, "Times New Roman", Times !default;

// Monospace font
$font-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;

// General color
$color-heading: #282828 !default;
$color-text: #434343 !default;

// Basic colors
$color-white: #FFFFFF !default;
$color-black: #000000 !default;

// Gray colors
$color-gray: #787878 !default;
$color-dark-gray: darken($color-gray, 15%) !default;
$color-darker-gray: darken($color-dark-gray, 15%) !default;
$color-darkest-gray: darken($color-darker-gray, 20%) !default;
$color-light-gray: lighten($color-gray, 15%) !default;
$color-lighter-gray: lighten($color-light-gray, 15%) !default;
$color-lightest-gray: lighten($color-lighter-gray, 20%) !default;

// Primary colors
$color-minnpost-red: #801019 !default;
$color-blue: #1D70A4 !default;

// Links
$color-link: $color-blue !default;

// Minnpost specific
$minnpost-full-width: 960px;
$minnpost-article-width: 640px;
